<ion-header>
  <ion-toolbar>
    <ion-title>    Mostrar cines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" [routerLink]="['/empleado-formulario']">Agregar</ion-button>
  <ion-list>
    <ion-list-header>
      <ion-label color="success">ID</ion-label>
      <ion-label color="success">Cine</ion-label>
      <ion-label color="success">Fecha alta</ion-label>
      <ion-label color="success">Fecha modificacion</ion-label>
      <ion-label color="success">Activo</ion-label>
      <ion-label color="success">Acciones</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let itbem of lista" >
      
      <ion-label >{{itbem.cineID}}</ion-label>
      <ion-label>{{itbem.cine}}</ion-label>
      <ion-label>{{itbem.fecha_alta}}</ion-label>
      <ion-label>{{itbem.fecha_modificacion}}</ion-label>
      <ion-label>{{itbem.registro_activo}}</ion-label>
      <!--<ion-button color="warning" expand="block" [routerLink]="['/post']">Editar</ion-button>-->
      <ion-button color="warning" expand="block" (click)="activarDesactivar(itbem.cineID)">Activar/Desactivar</ion-button>
      </ion-item>
    
  </ion-list>

</ion-content>
<!--
<table class="table table-dark ">
  <thead>
    <tr>
      <th >id</th>
      <th >nombre</th>
      <th >fecha alta</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of lista" (click)="seleccionar(item)">
      <td>{{ item.cineID}}</td>
      <td>{{ item.cine}}</td>
      <td>{{ item.fecha_alta}}</td>
      
    </tr>
  </tbody>
</table>-->

